<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.cakedemo.product.mapper.ProductMapper">
  <select id="productList" resultType="map">
    select * from  product_info where product_status =1
  </select>

  <resultMap id="productLists" type="map">
      <id column="category_id" property="category_id"></id>
    <result column="category_name" javaType="String" property="name"/>
    <result column="category_type" javaType="String" property="category_type"/>
    <result column="tid" javaType="String" property="tid"/>
    <result column="recommended" javaType="String" property="recommended"/><collection property="products" column="category_type" select="selectProduct" ofType="java.util.Map" javaType="java.util.ArrayList"/>
  </resultMap>
    <select id="selectProduct" resultType="map">
         select * from  product_info where product_status =1 and category_type=#{category_type}
    </select>
  <select id="goodProductList" resultMap="productLists">
    select * from  product_category pc where recommended=1
  </select>
    <select id="productDetails" parameterType="String" resultMap="detals">
        select * from product_info where  product_id=#{product_id}
    </select>
    <resultMap id="detals" type="map">
        <id column="product_id" property="product_id"/>
        <result column="product_name" property="product_name" javaType="String"/>
        <result column="product_price" property="product_price" javaType="String"/>
        <result column="product_description" property="product_description" javaType="String"/>
        <result column="product_icon" property="product_icon" javaType="String"/>
        <result column="product_icons" property="product_icons" javaType="String"/>
        <collection property="products" column="product_id" select="selectProductSize" ofType="java.util.Map" javaType="java.util.ArrayList"/>
    </resultMap>
    <select id="selectProductSize" resultMap="productLists">
    select * from  product_size where product_id=#{product_id}
  </select>
</mapper>